<?xml version='1.0' encoding='utf-8'?>
<widget id="com.neevtech.cordovademo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova AngularJS</name>
    <description>
        A sample application to show integration of cordova with angularjs
    </description>
    <author email="raman@neevtech.com" href="http://www.neevtech.com">
        RKVS Raman
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
